/* header{
    width:100%;
    position:absolute;
    top:0;
    left:0;
   
} */
/* .w3-top{
    position: fixed;
    width: 100%;
    font-family: "Karma", sans-serif;
    color: lawngreen;
    font-size: 30px;
    margin-bottom: 10px;
} */

/* .w3-top div {
    margin-left: auto;
    margin-right: auto;
   padding: 5px 10px;
 
}
.right{
    float: right;
}
.center{
    
} */







.imgContainer{
    display: flex;
    flex-wrap: wrap;
    
  }
  
  .imgContainer  div{
  
  margin-left: auto;
   margin-right: auto;
   margin-top: 60px;
  padding: 10px 10px;
   /* -webkit-background-clip: text;  */
   width: 21%;
  }
.imgContainer div h4 , p {
    text-align: center;
    padding: 5px;
}
.imgContainer div img {
    width: 100%;
}

.Pagination {
    text-align: center;
    margin: 20px 10px;
    
}
.Pagination a {
    margin: 20px 10px;
    text-decoration: none;
    
}
#about{
    margin: 50px 0 ;
}